$color-night-grey: #202020;
$color-azure: #f2f6f7;
$color-pebble-grey: #828E96;





*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  }

@font-face {
  font-family: "cera_regular";
  src: url('../fonts/37BCD3_9_0.woff');
  }

html {
  font-family: "cera_regular";
  font-size: 16px;
  line-height:1.25;
  box-sizing: border-box;
  }

body {
  color: $color-night-grey;
  background-color: $color-pebble-grey;
  }

.page {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-azure;
  min-height: 100vh;
  }

/*Two Panel---------------------------
------------------------------------*/

.two_panel_parent {
  padding: 10px;
  }

.two_panel {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #fff;
  }

.two_panel_image {
  width:100%;
  min-height:200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  }

.two_panel_content {
  padding: 20px;
  text-align: center;
  }

.two_panel_headline {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.6px;
  color: #009ae0;
  padding-bottom:10px;
  }

/*Text Callout------------------------
------------------------------------*/

.text_callout {
  padding: 20px;
  text-align:center;
  }





/*Tablet------------------------------
------------------------------------*/

@media screen and (min-width: 768px) {
  /*Two Panel---------------------------
  ------------------------------------*/
  .two_panel {
    flex-direction: row;
    min-height: 500px;
    }
  .two_panel_image,
  .two_panel_content {
    width: 50%;
    }
  .two_panel_image {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    }
  .two_panel_content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 40px;
    }
  .two_panel_content_inside {
    max-width: 500px;
    }
  .two_panel_headline {
    font-size: 48px;
    }
  }
